<div class="container">
  <div class="row">
    <div class="col-md-3">

<h3>New book</h3>
<%= form_with model: @book do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>opinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

    </div>
  </div>
</div>